body {
    background-color: #222c32;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

a:focus, a:hover{
   text-decoration: none;
}

.container {
    position: relative;
    width: 95%;
    height: 90%;*/
    background-color: #222c32;
    color: #cecccc;
    /*margin: 0;*/
    padding: 0;
}

/*.container .centar {
    width: auto;
    height: 90%;
}*/

.centar .search-box {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
}

.centar .search-box h2 {
    text-align: center;
    margin: 10px;
}

.centar .search-box form {
    padding-top: 10px;
}

.centar .profile-found {
    width: 400px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 0 8px 8px;
    color: #113fd6;
    background: rgba(11,179,214,.05);
    background-image: -webkit-radial-gradient(50% 100%,circle farthest-side,rgba(11,179,214,.05),rgba(11,179,214,0));
    background-image: radial-gradient(circle farthest-side at 50% 100%,rgba(11,179,214,.05),rgba(11,179,214,0));
}

.centar .profile-not-found {
    width: 400px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centar .profile-not-found-examples {
    width: 500px;
    position: absolute;
    top: 70%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: rgba(228,82,75,.95);
    font-size: 16px;
}
.centar .profile-found a {
    display: inline-block;
    text-decoration: none;
    padding-left: 10px;
}
.container .left-sidebar {
    width: 20%;
    height: 90%;
    float: left;
    padding: 10px 0 0 15px;
}

.container .right-sidebar {
    width: 20%;
    height: 90%;
    float: right;
    padding: 10px 15px 0 0;
}

.container .right-sidebar h1 {
    text-align: center;
}
.container .left-sidebar h1 {
    text-align: center;
}

.disclaimer {
    position:fixed;
    width: 100%;
    left: 5px;
    bottom: 10px;
}
.disclaimer h4 {
  text-align:center;
}

#header {
    background-color: #1E262B;
    min-height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    user-select: none;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
}

#header a, #header h1 , #header p{
    padding-left: 5px;
    display: inline;
    color: #f7f7f7;
}

 #header h1  {
     padding-left: 2px;
     font-size: 28px;
 }

#header .steam-logon {
    height: 50px;
    float: right;
    margin-top: 20px;
}

#header .header-logo {
    width: 180px;
    height:100px;
}


#footer {
    position: relative;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 110px;
    color: #a2a2a2;
    padding-top: 50px;
    padding-bottom: 15px;
    opacity: .5;
}

#footer .footer-list {
    display: block;
    width: 100%;
    list-style: none;
    margin-left: -5px;
    margin-top: 8px;
}

.footer-list li{
    margin: auto;
    display: inline;
    align-items: center;
    padding-right: 10px;
}

#footer .footer-centar-row {
    margin: auto;
    padding-top: 20px;
}

.show-profile {
    margin: 10px 0 auto;
    min-height: 600px;
    background: #222c32;
    width: 100%;
    padding: 10px;
}

.show-profile-img {
    min-width: 100px;
    min-height: 100px;
    padding: 5px;
    float: left;
}

.show-profile-link {
	position: relative;
    padding: 3px;
}

.show-profile-stats {
    margin-left: auto;
    padding: 5px;
    height: 250px;
}

.show-profile h3,h4{
    color: #0bb3d6;
    /*display: inline;*/
}

.show-profile p {
    color: #f7f7f7;
    font-size: 32px;
    display: inline;
}

.show-profile-statistic {
    width: 90%;
    display: inline;
}

.column-left {
    float: left;
    width: 33%;
    text-align: center;
 }

.column-right {
    float: right;
    width: 33%;
    text-align: center;
}

.column-centar {
    display: inline-block;
    width: 33%;
    text-align: center;
}

.main-statistics img {
    border-radius: 30px;
    border: 2px;
    border-style: none;
    box-shadow: 1px 10px 30px 5px rgba(0,0,0,0.3);
    display: block;
    height: auto;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    max-width: 100%;
 }

.main-statistics .image-text {
    visibility: hidden;
    position: relative;
    top: +20px;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    vertical-align: middle;
    color: white;
}

.main-statistics:hover .image-text {
    visibility: visible;
    -moz-transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
}

.main-statistics:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.other-statistic {
    width: 80%;
    padding: 15px;
    display: inline;
    text-align: center;
}

.other-statistic li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.other-statistic b {
    display: block;
    text-align: right;
    color: #0bb3d6;
}

.all-results {
    margin: 0 -40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
}

.all-results .item {
    splay: block;
    list-style-type:none;
    position: relative;
    margin: 0 auto;
    background: -webkit-linear-gradient(bottom,rgba(20,32,41,0),rgba(20,32,41,.75) 120px);
    background: linear-gradient(to top,rgba(20,32,41,0),rgba(20,32,41,.75) 120px);
}

.all-results  b {
    display: inline-flex;
    text-align: right;
    color: #0bb3d6;
}

.all-results  h4 {
    position: absolute;
    top: 115px;
    left: 1px;
    color: #f9c62c;
}

.show-profile-full {
    width: 100%;
    text-align: center;
}

.item-achievement {
    splay: block;
    list-style-type:none;
    width: 115px;
    height: 50%;
    position: relative;
    margin: 0 15px 20px;
    background: -webkit-linear-gradient(bottom,rgba(20,32,41,0),rgba(20,32,41,.75) 120px);
    background: linear-gradient(to top,rgba(20,32,41,0),rgba(20,32,41,.75) 120px);
}

.item-achievement img {
    right: 20px;
}

.comparison-centar {
    width: 90%;
    height: 600px;
    background-color: red;
    margin: auto;
    padding: 10px;
}

.comparison-centar .left {
    float: left;
    background-color: green;
    width: 45%;
    overflow:hidden;
}

.comparison-centar .right {
    margin-left: 45%;
    background-color: blue;
    overflow:hidden;
}

.comparison {
    width: 90%;
    table-layout: fixed;
    margin: auto;
    border-spacing: 1px;
}

.comparison h1 {
    text-align: center;
    padding: 20px;
}

.comparison-table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    margin-left: auto;
    margin-right: auto
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    padding: 15px 15px 15px 13px;
    vertical-align: bottom;
}

.comparison-table .max {
    color: #83c648;
}

.comparison-table .min {
    color: #e4524b;
}

.comparison-table .images {
    width: 120px;
    right: -115px;
    display: contents;
    position: relative;
    padding: 0;
}

.show-profile-stats-pdf {
    margin-left: auto;
    padding: 0px;
}

.show-profile-pdf h3,h4{
    color: #0bb3d6;
    display: inline;
}
.show-profile-stats-pdf p {
    display: inline;
    font-size: 14px;
}

.show-profile-img-pdf {
    min-width: 100px;
    min-height: 100px;
    padding: 5px 0 0 75px;
    float: left;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #1E262B;
    margin: auto;
    color: white;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #0bb3d6;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0bb3d6;
}

/* Style the tab content */
.tabcontent {
    display: inline;
    padding: 20px;
    border-top: none;
}

/* Media querys */

@media only screen and (max-width : 481px) {
    .container {
        width: 100%;

    }
    #header h1 {
        position: absolute;
        visibility: hidden;
        float:none;
        z-index: -1;
    }
    #header .header-logo {
        width: 250px;
        margin-left: 80px;
    }
    #header .steam-logon {
        position: absolute;
        visibility: hidden;
        float:none;
        z-index: -1;
    }
    .header-info {
        position: absolute;
        visibility: hidden;
        float:none;
        z-index: -1;
    }
    .left-sidebar {
        position: absolute;
        visibility: hidden;
        float:none;
        z-index: -1;
    }

    .right-sidebar {
        position: absolute;
        visibility: hidden;
        float:none;
        z-index: -1;
    }
    .centar .search-box {
        width: 400px;
        position: relative;
        top: 100px;
        padding-bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centar .profile-found {
        width: 400px;
        position: relative;
        top: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centar .profile-found a {
        display: inline-block;
        text-decoration: none;
    }

    .centar .profile-not-found {
        width: 400px;
        position: relative;
        top: 80px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centar .profile-not-found-examples {
        width: 400px;
        position: relative;
        top: 100px;
        left: 55%;
        transform: translate(-50%, -50%);
        color: rgba(228,82,75,.95);
        font-size: 14px;
    }
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
    #header h1 {
        font-size: 18px;
    }
    #header .header-logo {
        width: 150px;
    }
    #header .steam-logon {
        height: 30px;
        float: right;
        width: 100px;
        margin-top: 30px;
    }
    .header-info {
        position: absolute;
        visibility: hidden;
        display: inline;
        float:none;
        z-index: -1;
    }

    .container .left-sidebar {
        width: 100%;
        padding: 10px 0 0 15px;
        position: absolute;
        top: 430px;
    }

    .container .left-sidebar>p {
        display: inline;
    }

    .container .right-sidebar>p {
        display: inline;
    }

    .container .right-sidebar {
        width: 100%;
        padding: 10px 0 0 25px;
        position: absolute;
        top: 600px;
    }
    .centar .search-box {
        width: 400px;
        position: absolute;
        top: 250px;
        padding-bottom: 20px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #footer .footer-centar-row {
        margin: auto;
        padding-top: 20px;
        top: 670px;
        position: relative;
    }

    .centar .profile-found {
        width: 400px;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centar .profile-found a {
        display: inline-block;
        text-decoration: none;
    }

    .centar .profile-not-found {
        width: 400px;
        position: absolute;
        top: 160px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .centar .profile-not-found-examples {
        width: 400px;
        position: absolute;
        top: 380px;
        left: 55%;
        transform: translate(-50%, -50%);
        color: rgba(228,82,75,.95);
        font-size: 14px;
    }
}


@media only screen and (min-width : 768px) and (max-width : 1201px) {
    #header h1 {
        font-size: 28px;
        padding-left: 10;
    }
    .header-info {
        position: absolute;
        visibility: hidden;
        display: inline;
        float:none;
        margin-right:-104px;
        z-index: -1;
    }

}
